* {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(360deg, #213c55 80%, #016968 98%);
  padding: 0;
  margin: 0;
  color: white;
  width: 100%;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -----------------------------Header------------------------------------------------------------- */

#header {
  background-color: #1f2a39;
  height: 100px;
  gap: 155px;
  padding: 0 66px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.header img {
  width: 64px;
  height: 64px;
}

.logo {
  gap: 14px;
  font-size: 32px;
  font-weight: 700;
}

.nav {
  gap: 60px;
  padding: 0 27px;
  font-size: 24px;
  font-weight: 700;
}

.nav li a:hover {
  border-bottom: 1px solid white;
}

.user {
  padding: 5px;
  border-radius: 50px;
  border: 3px solid white;
}

/* ---------------------------------------------------------------------------------------------------- */

/* -----------------------------Main------------------------------------------------------------- */
main {
  width: 90%;
  margin: auto;
}

article {
  max-width: 1260px;
  width: 100%;
  margin: auto;
  margin-top: 80px;
}

article p {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.products {
  margin-bottom: 40px;
}

.productList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 25px;
}

.productListItem {
  background-color: #25272f;
  display: flex;
  justify-content: flex-start;
  gap: 28px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.productListItem:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: #2f3139;
  cursor: pointer;
}

.productListItem img {
  width: 400px;
  height: 200px;
  border-right: 5px solid white;
}

.productListItem h3 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.productListItem p {
  font-size: 20px;
  color: #dbdbdb;
  text-transform: uppercase;
}

.productListItem button {
  font-size: 20px;
  background-color: #6a8704;
  padding: 8px 55px;
  color: white;
}
/* ---------------------------------------------------------------------------------------------------- */

/* -----------------------------Form------------------------------------------------------------- */

form {
  padding-left: 40px;
}

form input[type="text"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type="submit"] {
  width: 20%;
  background-color: #6a8704;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
/* ---------------------------------------------------------------------------------------------------- */

/* -----------------------------Table------------------------------------------------------------- */
table {
  font-size: 20px;
  border-spacing: 20px;
}

table caption {
  border-bottom: 3px solid white;
  padding: 15px;
  font-size: 36px;
  font-weight: 700;
}

table th {
  text-align: left;
}

table th:last-child {
  padding-left: 150px;
}

table tr td {
  color: rgb(213, 213, 213);
}

table tr td:nth-child(3) {
  padding-left: 150px;
}
/* ---------------------------------------------------------------------------------------------------- */

/* -----------------------------Footer------------------------------------------------------------- */
footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background-color: #1f2a39;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin-right: 5%;
}

footer img {
  width: 24px;
  height: 24px;
}
/* ---------------------------------------------------------------------------------------------------- */
